<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
    <!--name:实体类所在的包名(不是实体类的包名也可以)-->
        <package name="domain"/>
    </typeAliases>
    <!--这是告诉Mybatis去哪找持久化类的映射文件-->
    <mappers>
        <!--name是包名，使用packet的要求：1.mapper文件名称必须和dao接口的名称一致；
        2.mapper文件必须和dao接口在同一目录下-->
        <package name="dao"/>
    </mappers>
</configuration>

